<%- include("partials/header") %>
        <div class="user-detail">
            <h2 style="text-align: center;">Create new Department</h2>
            <form action="/showDept" method="POST">
                  <label>Department Name</label>
                  <input type="text" placeholder="Enter Department Name" name="dname" required>
                  <button type="submit">Submit</button>
                </div>
        </div>
<%- include("partials/footer") %>