<%- include("partials/header") %>
        <div class="user-detail">
            <h2 style="text-align: center;">Create Employee Data</h2>
            <form action="/showEMP" method="POST">
                  <label>First Name</label>
                  <input type="text" placeholder="Enter First Name" name="fname" required>
                  <label>Middle Name</label>
                  <input type="text" placeholder="Enter Middle Name" name="minit">
                  <label>Last Name</label>
                  <input type="text" placeholder="Enter Last Name" name="lname" required>
                  <label>Birth date</label>
                  <input type="date" placeholder="Enter Birth Date" name="bdate" required>
                  <label>Address</label>
                  <input type="textarea" placeholder="Enter Full Address" name="address" required>
                  <label>Sex</label>
                  <input type="text" placeholder="Enter Sex" name="sex" required>
                  <label>Department number</label>
                  <select name="dno" id="">
                        <% for(var i=0;i<dnoData.length;i++){%> 
                                <option value="<%=dnoData[i].dnumber%>" ><%=dnoData[i].dnumber%></option>
                        <% } %> 
                  </select>
                  
                        
                  <button type="submit">Submit</button>
                </div>
        </div>
<%- include("partials/footer") %>