<%- include("partials/header") %>
<div style="text-align: center; background-image: url(https://wallpapercave.com/wp/wp4013881.jpg);width: 100%;height: 100%;background-position: center;
background-repeat: no-repeat;
background-size: cover; padding-top: 2rem;">
  <div class="card" style="margin-left: 2rem; width: 43%;height: 95%; padding-top: 2rem;padding-left: 1rem;padding-right: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <h1 class="display-4 ">EMPLOYEE SALARY MANAGEMENT</h1>
  <p class="lead">This is an application designed for administrators to help manage company information. This includes employee and their salary information.</p>
  <hr class="my-4">
  <div>
    <img style="width: 6rem;height: 10rem;float: left;border-radius: 0.5rem;" src="https://lh3.google.com/u/0/d/19ePD-ab5qGDGxV8ryLE0cQlN2rHA3AY3=w2560-h1156-iv1" alt="Card image cap">
    <h4>About</h4>
    <p>This application has been created by Preethi KS and Shreya Sudhanva for their Database Management System course project.</p>
  </div>
  
  </div>
  </div>
<%- include("partials/footer") %>