<%- include("partials/header") %>
<div class="jumbotron" style="text-align: center; background-color: rgb(159, 221, 215);height: 100%;margin-bottom: 0rem;overflow: hidden;">
  
    <h1 class="display-4 mt-5">EMPLOYEE SALARY MANAGEMENT</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>
<%- include("partials/footer") %>